:8080 {
    handle_path /api/* {
        reverse_proxy https://hotel-v2-final-production.up.railway.app
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
